@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-google: "Google Sans", sans-serif;
  --color-black: #202124;
  --color-grey: #9aa0a6;
  --color-light-grey: #f1f3f4;
}

.bg-mesh {
  background-color: #f1f3f4;
  background-image:
    radial-gradient(
      circle at 20% 0%,
      hsla(236, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 40%
    ),
    radial-gradient(
      circle at 53.53001780898573% 1.0414296134208607%,
      hsla(186, 77%, 74%, 0.35) 3.7491454641667024%,
      transparent 59.72072481800893%
    ),
    radial-gradient(
      circle at 95.9782826153375% 10.795065860042047%,
      hsla(127, 77%, 74%, 0.35) 3.1210986267166043%,
      transparent 26.85456528365227%
    );
  background-blend-mode: normal, normal, normal;
}
