@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-google: "Google Sans", sans-serif;
  --color-black: #202124;
  --color-grey: #9aa0a6;
  --color-light-grey: #f1f3f4;
}

.bg-mesh {
  background-color: #f1f3f4;
  background-image:
    radial-gradient(at 20% 0%, hsla(236, 77%, 74%, 0.35) 0%, transparent 50%),
    radial-gradient(at 54% 1%, hsla(186, 77%, 74%, 0.35) 0%, transparent 60%),
    radial-gradient(at 96% 11%, hsla(127, 77%, 74%, 0.35) 0%, transparent 27%);
  filter: blur(60px);
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}
