<section>
  <div>
    <h1 class="font-bold">About</h1>
    <p class="leading-relaxed text-sm text-neutral-700">
      Hi, I'm Ridwan. I focus on building web applications with maintainable
      code and solid architecture. Beyond everyday development, I have a strong
      practical interest in advanced cryptography like exploring post-quantum
      libraries like ML-DSA and Falcon, alongside learning Web3 development on
      Ethereum and Solana.
    </p>
  </div>
</section>
