---
const year = new Date().getFullYear();
---

<footer class="relative bottom-0 left-0 right-0 z-10 mt-10">
  <div
    class="mx-auto w-full max-w-lg px-3 py-5 text-center border-t border-neutral-300"
  >
    <p class="font-medium text-sm">&copy; {year}. Developed using Astro🚀</p>
  </div>
</footer>
