---
const { title = "Ridwan Portfolio Website" } = Astro.props;
---

<title>{title}</title>
<meta
  name="description"
  content="Ridwan Muhammad Raihan personal portfolio website"
/>
<meta property="og:title" content="Ridwan M. Raihan Portfolio Website" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://ridwanmuh3.netlify.com/" />
<meta
  property="og:description"
  content="Ridwan Muhammad Raihan personal portfolio website"
/>
