---
import Footer from "@components/layouts/Footer.astro";
import Head from "@components/layouts/Head.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <Head />
  </head>
  <body
    class="font-google bg-light-grey text-black antialiased relative min-h-screen"
  >
    <div class="bg-mesh absolute top-0 left-0 w-full h-150 -z-10"></div>
    <main class="max-w-lg mx-auto pt-28 pb-8 px-4 space-y-12">
      <slot />
    </main>
    <Footer />
  </body>
</html>
